@import './vars';
@import './mixins';
@import './typography';
@import url('https://fonts.googleapis.com/css?family=Codystar|Noto+Sans:400,700');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    background-image: url('../assets/bg-01.jpg');
    @include bgImgCenter;
    color: $white;
    display: flex;
    height: 100%;
}