@import '../../style/vars';
@import '../../style/mixins';

.scoreboard {
    height: 80%;
    width: 100%;
    pointer-events: none;
    position: fixed;

    .title-box {
        padding: 60px 0;
        width: 100%;
        position: relative;
        z-index: 1;
        background-image: url('../../assets/hud-01.svg');
        @include bgImgBottom;
    
        h1 {
            color: $blue;
            text-align: center;
        }
    }

    .score p {
        font-size: 32px;
    }

    .user, .comp {
        background-color: $green;
        color: black;
        margin: 0 60px;
        padding: 200px 12px 32px;
        text-align: center;
        overflow: hidden;
        width: 55px;
        height: 30%;
        transition: height 0.3s;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0px;

        h3 {
            writing-mode: vertical-lr;
            text-orientation: upright;
            position: absolute;
        }
        .score {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;

            p {
                margin-top: 32px;
                font-size: 32px;
                font-weight: 700;
                text-align: center;
            }
        }
    }

    .comp {
        background-color: $red;
        left: initial;
        right: 0;
    }
}